-
	const articles = [{src:'img/sprite.svg#novelty',title:'Новинки',text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.'},{src:'img/sprite.svg#news',title:'Новости',text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.'},{src:'img/sprite.svg#articles',title:'Статьи',text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.'}]

mixin articles()
	section.articles
		.layout-position
			.articles__top-line
				ul.articles__list
					each item in articles
						li.articles__list-item
							a(class='link articles__list-link' href='javascript:void(0)')
								article.article
									.article__title
										.article__title-img
											+svg(`${item.src}`, '48px', '48px')
										.article__title-text
											+subtitle('',`${item.title}`)
									.article__text
										p.article__text-par|#{item.text}
			.articles__bottom-line
				p
					|Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации.