.link {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-size: @font;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	vertical-align: top;
	color: #000000;
	&::before {
		content:'';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 12px;
		height: 100%;
	}
	&--under {
		text-decoration: underline;
	}
	&--small {
		.ff-300();
		font-size: @font-14;
	}
	&--c-main {
		color: @c-main;
	}
	&__bmarks,
	&__dislike,
	&__share {
		padding-left: 15px;
		/* background: url('@{bg-svg}heart') no-repeat left center;
		background-size: 12px 12px; */
	}
	&__bmarks::before {
			background: url('@{bg-svg}heart') no-repeat left center;
	}
	&__dislike::before {
		background: url('@{bg-svg}icon-dislike') no-repeat left center;
	}
	&__share::before {
		background: url('@{bg-svg}icon-share') no-repeat left center;
	}
}

