.text {
	.ff-300();
	font-size: @font-14;
	color: #908e91;
	&--small {
		font-size: 12px;
		color: #615f62;
	}
	&--big {
		.ff-600();
		font-size: @font;
	}
	&--c-main {
		color: @c-main;
	}
	&--c-black {
		color: black;
	}
	span {
		.ff-300();
	}
}