meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title #{title}
meta(name="discription" content="Здесь будет описание сайта!")
meta(name="theme-color" content="#c9e0e04d")
//- meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap&subset=cyrillic" rel="stylesheet")
link(rel="stylesheet" href="./styles/main.css")