-
	const news = [
	{img:'img/news-1.jpg', alt:'Новость', titleClass:'news__title', titleText:'У нас появилась новая услуга!', date:'01.01.2019',newsText:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент'},
	{img:'img/news-2.jpg', alt:'Новость', titleClass:'news__title', titleText:'Закрыли переход на Солнцевскую линию.', date:'01.01.2019',newsText:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент'},
	{img:'img/news-3.jpg', alt:'Новость', titleClass:'news__title', titleText:'Подарите мне миллион ?', date:'01.01.2019',newsText:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент'},
	{img:'img/news-4.jpg', alt:'Новость', titleClass:'news__title', titleText:'Представте, как сейчас кайфует девочка слева ?', date:'01.01.2019',newsText:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент'},
	{img:'img/news-1.jpg', alt:'Новость', titleClass:'news__title', titleText:'У нас появилась новая услуга!', date:'01.01.2019',newsText:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Это тестовый контент'}
	] 
main.main-news
	.layout-position
		+news-block(news)

					


