-
	const col1 = [
		{val:'Подключиться как салон',href:'javascript:void(0)'}, 
		{val:'Подключиться как мастер',href:'javascript:void(0)'},
		{val:'Инвесторам',href:'javascript:void(0)'}, 
		{val:'Франчайзинг',href:'javascript:void(0)'}, 
		{val:'Пресс-центр',href:'javascript:void(0)'}
	]
-
	const col2 = [
		{val:'Все салоны',href:'catalog.html'}, 
		{val:'Все мастера',href:'catalog.html'},
		{val:'Специальные предложения',href:'javascript:void(0)'}, 
		{val:'Магазин подарков',href:'javascript:void(0)'}, 
		{val:'Пользовательское соглашение',href:'javascript:void(0)'}
	]
-
	const socialGroup =[{className:'vk',href:'javascript:void(0)', value:'Вконтакте', img:'img/sprite.svg#vk', id:'footer-vk', width:'24px', height:'14px'},{className:'fb',href:'javascript:void(0)', value:'facebook', img:'img/sprite.svg#fb', width:'12px', height:'24px'}, {className:'ok',href:'javascript:void(0)', value:'Однокласники', img:'img/sprite.svg#odkl', width:'14px', height:'24px'},{className:'inst',href:'javascript:void(0)', value:'instagram', img:'img/sprite.svg#inst', width:'24px', height:'24px'},{className:'ytube',href:'javascript:void(0)', value:'youtube', img:'img/sprite.svg#youtb', width:'24px', height:'18px'}, {className:'tg',href:'javascript:void(0)', value:'Telegram', img:'img/sprite.svg#tg', width:'24px', height:'20px'}]

footer.page-footer
	.layout-position
		.footer-links
			.footer-block-links
				.column
					ul.footer-list
						each item in col1
							li.footer-list__item
								+link('footer-list__link',`${item.href}`, `${item.val}`)
				.column
					ul.footer-list
						each item in col2
							li.footer-list__item
								+link('footer-list__link',`${item.href}`, `${item.val}`)
			.footer-links__social
				+social('social-list', socialGroup)