-
	const cards = [
	{className:'salon-logo--bg-y', logoChar:'Б',master:'Брадобрей, <span>салон</span>', adress:'ул. Тверская-Ямская, 14к3',adrLink:'javascript:void(0)', online:true, rate:'4.2',tableService:[{Миостимуляция:'1000руб'},{Шеллак:'700руб'}, {Окрашивание:'500руб'}]},
	{className:'salon-logo--bg-g', logoChar:'А',master:'Аннет, <span>мастер</span>', adress:'ул. Мичуринский пр-тб 112',adrLink:'javascript:void(0)', online:true, rate:'4.6',tableService:[{Миостимуляция:'1200руб'},{Шеллак:'500руб'}, {Окрашивание:'800руб'}]},
	{className:'salon-logo--bg-r', logoChar:'А',master:'Альфа-центавра, <span>салон</span>', adress:'ул. Петровка, 38',adrLink:'javascript:void(0)', online:true, rate:'4.4',tableService:[{Миостимуляция:'1500руб'},{Шеллак:'400руб'}, {Окрашивание:'550руб'}]},
	{className:'salon-logo--bg-y', logoChar:'Б',master:'Брадобрей, <span>салон</span>', adress:'ул. Тверская-Ямская, 14к3',adrLink:'javascript:void(0)', online:true, rate:'4.2',tableService:[{Миостимуляция:'1100руб'},{Шеллак:'550руб'}, {Окрашивание:'600руб'}]},
	{className:'salon-logo--bg-g', logoChar:'А',master:'Аннет, <span>мастер</span>', adress:'ул. Мичуринский пр-тб 112',adrLink:'javascript:void(0)', online:true, rate:'4.6',tableService:[{Миостимуляция:'1200руб'},{Шеллак:'500руб'}, {Окрашивание:'800руб'}]},
	{className:'salon-logo--bg-r', logoChar:'А',master:'Альфа-центавра, <span>салон</span>', adress:'ул. Петровка, 38',adrLink:'javascript:void(0)', online:true, rate:'4.4',tableService:[{Миостимуляция:'1500руб'},{Шеллак:'400руб'}, {Окрашивание:'550руб'}]},
	{className:'salon-logo--bg-y', logoChar:'Б',master:'Брадобрей, <span>салон</span>', adress:'ул. Тверская-Ямская, 14к3',adrLink:'javascript:void(0)', online:true, rate:'4.2',tableService:[{Миостимуляция:'1000руб'},{Шеллак:'700руб'}, {Окрашивание:'500руб'}]},
	{className:'salon-logo--bg-g', logoChar:'А',master:'Аннет, <span>мастер</span>', adress:'ул. Мичуринский пр-тб 112',adrLink:'javascript:void(0)', online:true, rate:'4.6',tableService:[{Миостимуляция:'1200руб'},{Шеллак:'500руб'}, {Окрашивание:'800руб'}]}]
-
	const tableService = [{Окрашивание:'1200руб'},{Шеллак:'500руб'}, {Шеллак:'500руб'}]
main.catalog
	.catalog__filters
		.layout-position--header
			+filters()
	.catalog__items
		.layout-position--catalog
			.catalog__container
				ul.catalog-list
					each item in cards
						li.catalog-list__item
							+salon-card(item)
			.catalog__show-btn
				+linkBtn('Показать ещё','javascript:void(0)', 'catalog__btn link-btn--big link-btn--text-upper')
	.catalog__bottom-line
		.layout-position
			p
				|Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации.
			p
				|Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации.
